# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Runtime artifacts
screen.png
*.log

# OpenCV / images
*.tmp

# ADB
adbkey
adbkey.pub
